#include <physical_layouts.dtsi>

#include "position_map.dtsi"

/ {
        skean_minidox_layout: skean_minidox_layout {
                compatible = "zmk,physical-layout";
                display-name = "Minidox";

                keys  //                 w   h    x    y     rot    rx    ry
                = <&key_physical_attrs 100 100  200   62       0     0     0>
                , <&key_physical_attrs 100 100  300   25       0     0     0>
                , <&key_physical_attrs 100 100  401    0       0     0     0>
                , <&key_physical_attrs 100 100  501   25       0     0     0>
                , <&key_physical_attrs 100 100  601   37       0     0     0>
                , <&key_physical_attrs 100 100 1200   37       0     0     0>
                , <&key_physical_attrs 100 100 1300   25       0     0     0>
                , <&key_physical_attrs 100 100 1400    0       0     0     0>
                , <&key_physical_attrs 100 100 1501   25       0     0     0>
                , <&key_physical_attrs 100 100 1601   62       0     0     0>
                , <&key_physical_attrs 100 100  200  162       0     0     0>
                , <&key_physical_attrs 100 100  300  125       0     0     0>
                , <&key_physical_attrs 100 100  401  100       0     0     0>
                , <&key_physical_attrs 100 100  501  125       0     0     0>
                , <&key_physical_attrs 100 100  601  137       0     0     0>
                , <&key_physical_attrs 100 100 1200  137       0     0     0>
                , <&key_physical_attrs 100 100 1300  125       0     0     0>
                , <&key_physical_attrs 100 100 1400  100       0     0     0>
                , <&key_physical_attrs 100 100 1501  125       0     0     0>
                , <&key_physical_attrs 100 100 1601  162       0     0     0>
                , <&key_physical_attrs 100 100  200  262       0     0     0>
                , <&key_physical_attrs 100 100  300  225       0     0     0>
                , <&key_physical_attrs 100 100  401  200       0     0     0>
                , <&key_physical_attrs 100 100  501  225       0     0     0>
                , <&key_physical_attrs 100 100  601  237       0     0     0>
                , <&key_physical_attrs 100 100 1200  237       0     0     0>
                , <&key_physical_attrs 100 100 1300  225       0     0     0>
                , <&key_physical_attrs 100 100 1400  200       0     0     0>
                , <&key_physical_attrs 100 100 1501  225       0     0     0>
                , <&key_physical_attrs 100 100 1601  262       0     0     0>
                , <&key_physical_attrs 100 100  451  328       0     0     0>
                , <&key_physical_attrs 100 100  562  342    1500   612   392>
                , <&key_physical_attrs 100 150  678  338    3000   728   413>
                , <&key_physical_attrs 100 150 1123  338 (-3000)  1173   413>
                , <&key_physical_attrs 100 100 1239  342 (-1500)  1289   392>
                , <&key_physical_attrs 100 100 1350  328       0     0     0>
                ;
        };
};

&layouts_skean_position_map{
        minidox {
                physical-layout = <&skean_minidox_layout>;

                positions
                = <36 37  0  1  2  3  4        5  6  7  8  9 38 39>
                , <   40 10 11 12 13 14       15 16 17 18 19 41   >
                , <   42 20 21 22 23 24       25 26 27 28 29 43   >
                , <               30 31 32 33 34 35               >;
        };
};
